<div class="todo-container">
  <div class="subcontainer">
    <div class="todo-title">
      <h1 class="title-text">TODO</h1>
      <button class="todo-bottom-lightmode">
        <img class="icons-mode" src="assets/icons/light-mode.svg" alt="asdasd" />
      </button>
    </div>

    <div class="todo-content">
      <div class="todo-textfield-container">
        <input class="textfield" type="text" placeholder="Create a new todo...">
      </div>
        <div class="content-container">
          <img class="image-Empty" src="assets/Empty.png" alt="">
          <p class="headtext">You’re todo’s are empty</p>
          <p class="subtext">Please add first one</p>
        </div>
    </div>
  </div>
</div>
